* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #eaedef;
}

#container {
    width: 410px;
    height: 590px;
    margin: 50px auto;
    box-shadow: inset -15px -15px 10px white, inset 15px 15px 10px gray;
    border-radius: 50px 50px 20px 20px;
}

#calculator {
    width: 100%;
    height: 100%;
    background-color: #eaedef;
    margin: 0 auto;
    top: 0px;
    position: relative;
    border-radius: 50px 50px 20px 20px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    box-shadow: inset 6px 6px 12px #c2bfbf, inset -6px -6px 12px #bdb9b9;
}

#calculator:hover {
    box-shadow: inset 4px 4px 6px white, inset 0px -2px 2px white;
}

input {
    box-shadow: 6px 6px 12px #434343, -6px -6px 12px #5b5b5b;
}

input:hover {
    box-shadow: inset 4px 4px 6px white, inset 0px -2px 2px white;
}

.keyboard {
    height: 300px;
}

.field {
    width: 370px;
    height: 30px;
    margin: 10px;
    font-size: 15px;
    border-radius: 10px;
}

.operator,
.number {
    color: black;
    width: 50px;
    height: 50px;
    margin: 10px;
    margin-right: 20px;
    float: left;
    border-radius: 50%;
    border-width: 0;
    font-size: 15px;
}

.number {
    background-color: #eaedef;
}

.number,
.operator {
    cursor: pointer;
}

.operator:active,
.number:active {
    font-size: 20px;
    box-shadow: inset 6px 6px 12px #434343, inset -6px -6px 12px #5b5b5b;
}

.operator:focus,
.number:focus,
.field:focus,
.empty:focus {
    outline: none;
}

.copy {
    display: flex;
    justify-content: center;
    align-items: center;
}

input:nth-child(7) {
    font-size: 20px;
    background-color: #ffa500;
}

input:nth-child(12) {
    font-size: 20px;
    background-color: #f08080;
}

input:nth-child(17) {
    font-size: 20px;
    background-color: #7d93e0;
}

input:nth-child(3) {
    font-size: 20px;
    background-color: white;
}

input:nth-child(22) {
    font-size: 20px;
    background-color: #9477af;
}

input:nth-child(27) {
    font-size: 20px;
    background-color: #2d87;
}

input:nth-child(32) {
    font-size: 20px;
    background-color: #3d5f;
}